
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


img {
    width: 100px;
}


body {
    background-color: black;
}

header {
    padding-left: 110px;
    display: flex;
    align-items: center;
    background-image: url(../img/header.jpg);
}

.social-icons {
        display: flex;
        align-items: center;
        justify-content: flex-end; 
        gap: 15px; 
        padding-right: 20px;
        font-size: 25px;
        margin-left: 70px;
        font-size: 20px;
}


h1 {
    color: #ffd700;
    padding-right: 200px;
    font-family: cursive;
    font-size: 30px;
    font-style: italic;
}


.itens {
    align-items: center;
}

header nav a {
    padding-left: 80px;
    font-family: Verdana;
    color: #ffd700;
    font-style: normal;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
}

a:hover {
    color: #CCCCCC;
}

p {
    color: #CCCCCC;
}

h2 {
    color: #CCCCCC;
}
.bio {
    justify-content: center;
    padding-right: 50px;
    display: flex;
}

.bio p {
    color: #FFFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    text-align: justify;
    padding-right: 60px;
    margin-top: 30px;
    margin-right: 50px;
    padding-left: 100px;
}

.bio img {
    width: 700px;
    padding-top: 30px;
    padding-left: 150px;
}

.separa {
    padding-top: 40px;
    border-bottom: solid #ffd700 1px;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
}

.logos {
    margin-top: 25px;
    background-color: #484d50;
    display: flex;
    justify-content: space-between;
    align-items: center;             
    gap: 20px;
    padding: 20px;
    width: 100%;
    height: 350px;
}

.logos div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.logos img {
    width: 200px;
    height: auto;
    margin-bottom: 10px;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.logos p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #CCCCCC;
    text-align: center;
    margin: 0;
    font-size: 20px;
}

.fotos{
    display: flex;
}
.fotos img{
    width: 759px;
}
.testimonials {
    margin-top: 40px;
    padding: 20px;
    background-color: #222222;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}
.testimonial {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #333333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 30%;
    min-width: 300px;
    margin-right: 20px;
}
.testimonial img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
    object-fit: cover;
}
.testimonial-content {
    max-width: 600px;
}

.testimonial p {
    color: #f1f1f1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    margin-bottom: 10px;
    text-align: justify;
}
.stars {
    margin-bottom: 10px;
}

.stars i {
    color: #FFD700;
    margin-right: 3px;
}

.stars i.fas.fa-star-half-alt {
    color: #FFD700;
}

.testimonial-content p strong {
    font-size: 20px;
    color: #FFFF;
    margin-top: 5px;
}

footer {
    background-color: #333333;
    color: #CCCCCC;
    padding: 20px 0;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

footer a {
    color: #ffd700;
    text-decoration: none;
}

footer a:hover {
    color: #CCCCCC;
}

.social-icons-baixo {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.social-icons-baixo a {
    color: #CCCCCC;
    font-size: 25px;
    padding-bottom: 5px;
}

.social-icons-baixo a:hover {
    color: #ffd700;
}

footer p {
    margin: 10px 0;
}


.services-title {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: #FFD700;
    margin-bottom: 0;
    padding-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
     
  .services-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .service-card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px 6px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 300px;
    text-align: center;
  }
  
  .service-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
  }
  
  .service-card h2 {
    font-size: 1.5rem;
    margin: 15px;
    color: #333;
  }

  .service-card p {
    font-size: 1rem;
    color: #555;
    padding: 0 15px;
    margin-bottom: 15px;
  }
  
  .service-card a {
    display: block;
    margin: 15px;
    padding: 10px;
    text-decoration: none;
    background-color: #ffd700;
    color: black;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .service-card a:hover {
    background-color: #ffd700;
  }

  div
  {
    padding-top: 20px;
  }


  .mapa{
    text-align: center;
    padding-top: 20px;
    background-color: #484d50;
    padding-bottom: 20px;

  }
  .form input{
    display: flex;
    flex-direction: column;
    background-color: #222222;
    border-radius: 8px;
    width: 700px;
    margin-top: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
  }
  .form textarea{
    display: flex;
    flex-direction: column;
    background-color: #222222;
    border-radius: 8px;
    width: 700px;
    margin-top: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  input{
    display: flex;
    flex-direction: column;
    background-color: #222222;
    border-radius: 8px;
    margin-top: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #FFD700;
    width: 60px;
    height: 30px;
  }

  h6{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: #FFD700;
    padding-top: 10px;
    text-align: center;
    font-style: italic;
  }

  